

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --crame-color: hsl(30 ,38% , 92%);
    --Dark-cyan: hsl(158, 36%, 37%);
    --dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
    font-family: "Montdserrat",sans-serif;
    /* font-family: "Fraunces", serif; */
    background: var(--crame-color);
    min-height: 100vh;
    display: grid;
    place-content: center;

}

#product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    margin: 1rem;
}

img {
    display: block;
    max-width: 100%;
}

#product .product-content{
    background-color: rgb(239, 255, 255);
    padding: 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}


#product img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.c {
    font-size: 12px;
    letter-spacing: 4px;
    color: var(--Dark-grayish-blue);
    
}

h1{
    font-family: "Fraunces", serif;
    font-size: 30px;
    margin: 20px;
    line-height: 1;
    margin-left: 0;
    color:var(--dark-blue);
}

p{
    font: size 14px;
    color: var(--Dark-grayish-blue);
    line-height: 1.5;

}

.price{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.after{
    color: var(--Dark-cyan);
    font-family: 'Fraunces',serif;
    font-size: 30px;
    margin-right: 20px ;
    font-weight: 700;
}

.chart{
   padding: 15px; 
    border-radius: 15px;
    border: none;
    background-color: var(--Dark-cyan);
    width: 100%;
    font-weight: 700;
    align-items: center;
    color: var(--crame-color);
    text-align: center;
    cursor: pointer;
}

.chart::before{
    content: url("./images/icon-cart.svg");
    margin-right: 10px;
}

@media(max-width: 700px){
    #product{
        grid-template-columns:1fr;

    }


    #product img{
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }


    #product .product-content{
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
    }

}